{% extends "LRNProtectBundle::layout.html.twig" %}

{% block menu %}
    <li class="">
        <a href="{{ path('lrn_default_homepage') }}">Inicio</a>
    </li>
    <li class="active">
        <a href="{{ path('lrn_conceptos') }}">Conceptos</a>
    </li>
    <li class="">
        <a href="{{ path('lrn_estadisticas') }}">Estad&iacute;sticas</a>
    </li>
    <li class="dropdown">
        <a href="{{ path('lrn_tutorial_index') }}">Tutoriales</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
            {% for tuto in tutoriales %}
                <li role="presentation">
                    <a role="menuitem" tabindex="-1"
                       href="{{ path('find_tutorial', { 'nombreTutorial': tuto.nombreRedSocial }) }}">
                        {{ tuto.nombreRedSocial }}
                    </a>
                </li>
            {% endfor %}            
        </ul>
    </li>
    <li class=""><a href="{{ path('lrn_documentos') }}">Contenidos</a></li>
    <li class="dropdown">
        <a href="{{ path('lrn_noticias') }}">Noticias</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{{ path('videos') }}">Videos</a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block subhead %}
    <!-- Subhead
================================================== -->
    <header class="jumbotron subhead" id="overview" style="margin-bottom: 0;">
        <div class="container">
            <div class="row black-square">
                <h1 class="titulo">Conceptos</h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block contenido %}

    <div class="grayscale infobar">
        <span>
            <h3>
                En esta sección, orientada a presentar herramientas para la gestión de la seguridad de los usuarios
                y su información en el marco de las redes sociales y el ciberespacio, se exponen los conceptos básicos
                sobre las redes sociales, los derechos asociados a la protección del usuario y su información, los
                factores de riesgo y problemáticas de seguridad, los mecanismos de protección del usuario y su
                información y las propuestas para potenciar el nivel de seguridad en las redes sociales.
            </h3>
        </span>
    </div>

    <div class="b-tag-weight grayscale categoriasbar">
        <div>
            <ul>
                <li><a href="{{ path('lrn_conceptos') }}">TODOS</a></li>
                {% for concepto in conceptos %}
                    <li><a href="{{ path('conceptos_mostrar', { 'id': concepto.id }) }}">{{ concepto.subtitulo }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {#<div style="margin-left: 10%; width: 80%;">#}
    <div style="width: 100%; margin-left: auto; margin-right: auto;">
    {% for concepto in conceptos %}

        <div class="span3">
                <a href="{{ path('conceptos_mostrar', { 'id' : concepto.id }) }}">
                    <img class="box_shadow" id="{{ concepto.id }}" alt="..."
                         {#class="grayscale grayscale-fade"#}
                         src="{{ asset('uploads/conceptos/' ~ concepto.rutaImagen) }}"
                         style="height: 17em;width: 40em;
                         /*position: relative;*/
                         "
                         onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0.5;">
                    <h6 style="text-transform: uppercase; margin-bottom: 50px;
                         /*z-index: 1; position: absolute; margin-top: 6em;*/"
                        class="text-center">
                        {{ concepto.subtitulo }}
                    </h6>
                </a>
        </div>

    {% endfor %}
    </div>
    <div class="clearfix" style="margin-bottom: 100px;"> </div>

{% endblock %}