{% extends "::base.html.twig" %}

{% block head %}
    {#<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />#}

    <link rel="stylesheet" href="{{ asset('bundles/lrnprotect/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/lrnprotect/css/bootstrap-responsive.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/lrnprotect/css/docs.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/lrnprotect/js/google-code-prettify/prettify.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/lrnprotect/css/style.css') }}" />

    <link rel="stylesheet" href="{{ asset('bundles/lrnprotect/css/tabs.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/lrnprotect/css/gray/gray.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/lrnprotect/vendors/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css') }}">

    {#<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/lrnprotect/ico/apple-touch-icon-144-precomposed.png') }}">#}
    {#<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/lrnprotect/ico/apple-touch-icon-114-precomposed.png') }}">#}
    {#<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/lrnprotect/ico/apple-touch-icon-72-precomposed.png') }}">#}
    {#<link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/lrnprotect/ico/apple-touch-icon-57-precomposed.png') }}">#}
    <link rel="shortcut icon" href="{{ asset('bundles/lrnprotect/ico/graphInverted.ico') }}">
{% endblock %}

    {% block body %}

        <a id="menu" style="position: fixed; top: 0; left: 0; width: 60px; height: 40px; background-color: #000000;
        overflow-x: visible; overflow-y: visible; display: table; z-index: 1050;
         text-align: center; margin-bottom: 15px;"
           {#onmouseover="ShowPart('navbar');"#}
           {#onmouseout="HidePart('navbar');"#}
           href="{{ path('lrn_default_homepage') }}">
        <span  id="menu_span" style="color: #F7F7F9; font-weight: lighter; font-size: 16px;
        display: table-cell; vertical-align: middle;">IUS2.0</span>
        </a>

        <!-- Navbar
    ================================================== -->
        <div class="navbar navbar-inverse navbar-fixed-top" id="navbar" style="opacity: 1;">
            <div class="navbar-inner" style="opacity: 0.87;">
                <div class="container"
                     {#onmouseover="ShowPart('navbar');"#}
                     {#onmouseout="HidePart('navbar');"#}
                     style="width: 100%;">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {#<a class="brand" href="javascript:void(0);">#}
                    {#&#123;&#35;onclick="ButtonClicked('navbar');"&#35;&#125;#}
                    {#<span style="color: #F7F7F9; font-weight: lighter;">IUS2.0</span></a>#}
                    <div class="nav-collapse collapse" style="margin-left: 10%;">
                        <ul class="nav" style="text-transform: uppercase;">
                            {% block menu %}
                            {% endblock %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div style="margin-top: 70px; margin-bottom: 70px;">
        {% block contenido %}
        {% endblock %}
        </div>

        {% endblock %}


        {% block javascripts %}

            <!-- Le javascript
        ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            {#<script type="text/javascript" src="{{ asset('http://platform.twitter.com/widgets.js') }}"></script>#}
            <script src="{{ asset('bundles/lrnprotect/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-transition.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-alert.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-modal.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-dropdown.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-scrollspy.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-tab.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-tooltip.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-popover.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-button.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-collapse.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-carousel.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-typeahead.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/bootstrap-affix.js') }}"></script>

            <script src="{{ asset('bundles/lrnprotect/js/holder/holder.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/js/google-code-prettify/prettify.js') }}"></script>

            <script src="{{ asset('bundles/lrnprotect/js/application.js') }}"></script>

            <script src="{{ asset('bundles/lrnprotect/js/gray/jquery.gray.min.js') }}"></script>

            <!-- Scripts para el WYSIWYG -->
            <script src="{{ asset('bundles/lrnprotect/vendors/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/vendors/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/vendors/ckeditor/ckeditor.js') }}"></script>
            <script src="{{ asset('bundles/lrnprotect/vendors/ckeditor/adapters/jquery.js') }}"></script>

            <script>
                $(function() {
                    // Bootstrap
                    $('#bootstrap-editor').wysihtml5();
                    $('#lrn_backendbundle_noticias_texto').wysihtml5();
                    $('#lrn_backendbundle_conceptos_texto').wysihtml5();
                    $('#lrn_backendbundle_tutorial_descripcion').wysihtml5();

                    // Ckeditor standard
                    $( 'textarea#ckeditor_standard' ).ckeditor({width:'98%', height: '150px', toolbar: [
                        { name: 'document', items: [ 'Source', '-', 'NewPage', 'Preview', '-', 'Templates' ] },	// Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
                        [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ],			// Defines toolbar group without name.
                        { name: 'basicstyles', items: [ 'Bold', 'Italic' ] }
                    ]});
                    $( 'textarea#ckeditor_full' ).ckeditor({width:'98%', height: '150px'});
                });
            </script>
            <!-- FIN de Scripts para el WYSIWYG -->

            <script type="text/javascript" language="JavaScript">
                function HidePart(d) { document.getElementById(d).style.opacity = 0; }
                function ShowPart(d) { document.getElementById(d).style.opacity = 1; }

                function ButtonClicked(d)
                {
//                var elem = this.parentNode;
//
//                if(elem.style.display == 'none') { HidePart(d); elem.style.display = 'block'; }
//                else  { ShowPart(d); elem.style.display = 'none'; }
//                Sfjs.setPreference('toolbar/displayState', 'block');

                    if(document.getElementById(d).style.opacity == 0) { ShowPart(d); }
                    else  { HidePart(d); }
                }

                function CambiarImg(d, flag)
                {
                    //var myArray = document.getElementById(d).innerHTML.split('.');
                    var myArray = document.getElementById(d).getAttribute("src").split('.');
                    var first = myArray[0].split('-');

                    var name = first[0]+'.'+myArray[1];

//                    if((flag != 'true') && first[1] != null)
                    if(flag != 'true')
                    {
                        name = myArray[0]+'-bw.'+myArray[1];
                    }
                    //alert(name);
                    document.getElementById(d).setAttribute("src",name);
                }
            </script>

        {% endblock %}
