{% extends "BackendBundle::backend.html.twig" %}

{% block menu %}
    <li class="">
        <a href="{{ path('backend_conceptos_listar') }}">Conceptos</a>
    </li>
    <li class="">
        <a href="{{ path('backend_estadisticas_listar') }}">Estadisticas</a>
    </li>
    <li class="">
        <a href="{{ path('backend_tutorial_listar') }}">Tutoriales</a>
    </li>
    <li class="">
        <a href="{{ path('backend_documento_listar') }}">Documentos</a>
    </li>
    <li>
        <a href="{{ path('backend_homepage') }}">Noticias</a>
    </li>
    <li class="active">
        <a href="{{ path('backend_videos_listar') }}">Videos</a>
    </li>
{% endblock %}

    {% block contenido %}
<div class="text-center" style="margin-bottom: 20px;">
    <h2>{{ video.nombre }}.</h2>
</div>
<div style="margin-left: auto; margin-right: auto; width: 500px;">
    <video width="500" height="400" controls="controls"
            {#autoplay loop#}>
        <source src="{{ asset('uploads/videos/' ~ video.rutaVideo) }}" type="video/mp4" />
        <source src="{{ asset('uploads/videos/' ~ video.rutaVideo) }}" type="video/ogg" />
        <source src="{{ asset('uploads/videos/' ~ video.rutaVideo) }}" type="video/webm" />
        Su buscador no soporta estos videos.
    </video>
</div>
    {% endblock %}
