
    {#<div class="blog">#}
        {#<div class="container" style="margin-bottom: 20px;">#}
            {#<div class="blog-content">#}
                {#<div class="wrap">#}
                    {#<div class="blog-content-left">#}
                        {#<div class="blog-articals">#}
                            {#<div class="blog-artical">                                #}
                                {#<div class="blog-artical-info">#}
                                    <div class="blog-artical-info-head">
                                        <h1>{{ paso.numero }}. {{ paso.titulo }}</h1>
                                    </div>
                                    <div class="blog-artical-info-text">
                                        <p style="text-align:justify ">{{ paso.explicacion | raw }}</p>
                                    </div>
                                    <div class="blog-artical-info-img">
                                        {% if paso.rutaImagen != null %}
                                        <img id="{{ paso.id }}" alt="..."
                                             class="img-responsive grayscale grayscale-fade"
                                             src="{{ asset('uploads/tutoriales/' ~ paso.rutaImagen) }}"
                                             title="post-name">
                                        {% endif %}

                                    </div>
                                {#</div>#}
                                {#<div class="clearfix"> </div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

